---
import Main from '../../layouts/main.astro';
import {getCollection} from "astro:content";
const posts = await getCollection('posts', ({data})=>{
  return !data.draft;
});

import tools from '../../tools';

const author = "Anas Ouardini";
const type = "WebSite";
const lang = "en_US";
const title = `${author}'s Blog Posts`;
const seo_title = title;
const slug = tools.slugify(title);
const description = "";
const seo_description = description;
const date = "Tue June 06 2023";
const seo_date = "2023-06-04";
---

<Main {type} {lang} {author} {title} {seo_title} {slug}
    {description} {seo_description} {date} {seo_date}>

  <main class="w-[90%] mx-auto max-w-[1000px] my-10">
    <h1 class="mb-10 text-2xl">Blog Posts</h1>
    {
      posts
        .filter((post) => !post.data.draft)
        .map((post) => (
          <a href={`/posts/${post.slug}`} class="block max-w-[35rem] mb-5 bg-dark-2 rounded-[3%]">
            <div
              aria-label="blog post card"
              class="p-4 text-gray-200"
            >
              <figure class="pb-[1.2rem]"><img src={post.data.image?.url}/></figure>
              <h2 class="text-blue-400 text-xl mb-2 capitalize">{post.data.title}</h2>
              <p class="text-md">
               <span class="text-gray-500">Published on</span> {post.data.date.split(' ').slice(0, 4).join(' ')}
                <span class="text-gray-500">by</span> {post.data.author}
              </p>
            </div>
          </a>
        ))
    }
  </main>
</Main>
