---
import Main from './main.astro';
const {
    frontmatter: {title, seo_title, description, seo_description, image, slug, date, author, category, draft},
} = Astro.props;

import tools from '../tools'
---

<Main
    title={`${title} - Anas Ouardini`}
    seo_title={`${seo_title} - Anas Ouardini`}
    {description}
    {seo_description} type="article"
    {author} {date} {slug} {category} {draft} >

    <main class="flex flex-col justify-between w-[90%] mx-auto max-w-[1000px] my-10">
        <script>
            const clipboard = navigator.clipboard;
            Array.from(document.querySelectorAll('pre')).forEach(block => {
                const copyCodeBtn = document.createElement('button');
                copyCodeBtn.innerText = clipboard ? "Copy" : "Clipboard not supported";
                copyCodeBtn.setAttribute('data-copyCodeBtn', true);
                copyCodeBtn.setAttribute('style', `position: absolute; top: 0; right: 0;
                                        color: #4C99EB; background: #222;
                                        padding: 8px; margin: 5px; border-radius: 6px;`);
                block.style.position = 'relative';
                block.prepend(copyCodeBtn);
                if(clipboard){
                    copyCodeBtn.addEventListener('click', ({target})=>{
                        clipboard.writeText(target.nextElementSibling.innerText);

                        copyCodeBtn.innerText = "Code Copied!";
                        setTimeout(() => {
                            copyCodeBtn.innerText = "Copy";
                        }, 700);
                    });
                }
            });

        </script>
        <style is:inline>
            p{
                margin-bottom: 1.2rem;
                font-size: 1.2rem;
                line-height: 1.75;
            }
            p:first-letter{
                text-transform: uppercase
            }
            h1, h2, h3, h4, h5, h6{
                color: #4C99EB;
                text-transform: capitalize;
                margin-bottom: 1rem;
                margin-top: 2rem
            }
            h1{
                font-size: 2.4rem;
                margin-bottom: .5rem;
            }
            h2{
                font-size: 2rem;
                margin-bottom: 1.6rem;
            }
            h3{
                font-size: 1.6rem;
                margin-bottom: 1.2rem;
            }
            h4{
                font-size: 1.2rem;
                margin-bottom: 1.2rem;
            }
            h5{
                font-size: 0.8rem;
                margin-bottom: 1.2rem;
            }
            h6{
                font-size: 0.4rem;
                margin-bottom: 1.2rem;
            }
            pre{
                margin-bottom: 1.2rem;
                padding: 1.4rem;
                border-radius: 6px;
            }
            *:not(pre) > code{
                padding: .1rem .3rem;
                color: rgb(248, 160, 175);
            }
            ul, ol{
                margin: 1rem 0;
                padding-left: 2rem
            }
            li{
                list-style-type: normal;
                font-size: 1.1rem;
                margin-bottom: 0.2rem;
            }
            li::marker{color: #4C99EB}
            a{
                color: #339CFF;
                text-decoration: underline;
            }
            /* a:visited{
                color: #339CFF;
            }
            a:hover{
                color: #339CFF;
            } */
            figure{margin-bottom: 1.2rem}
            figure.featured{margin-bottom: 1.5rem}
        </style>
        <article class="p-3">
            <h1 class="capitalize">{title}</h1>
            <p class="mb-10 text-gray-500 text-xl">Published at {date.split(' ').slice(0, 4).join(' ')} by {author}</p>
            {
                image
                ? <figure class="featured"><img src={image.url} alt={image.alt} /></figure>
                : <></>
            }
            <slot>blog post not found</slot>
        </article>
    </main>
</Main>
