---
const {
    type = 'blog',
    title = 'Web Dev Blog',
    seo_title = 'Web Dev Blog',
    description,
    seo_description,
    author = 'Anas ouardini',
    draft = false,
    slug,
    date,
    seo_date,
    tags = [],
    image = '',
    customStatus
} = Astro.props;

import tools from '../tools';
---

<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <link rel="canonical" href={Astro.url} />

        {customStatus ? <meta http-equiv="status" content={customStatus.content} /> : <></>}

        {type ? <meta property="og:type" content={type} /> : <></>}
        {type === "article"
            ?<>
                <meta property="article:author" content={author} />
                <meta property="article:published_time" content={seo_date ?? date} />
                <meta property="article:tag" content={tags} />
                {draft ? <meta name="robots" content="noidnex" /> : <></>}
            </>
            : <></>
        }
        {title ? <meta property="og:title" content={title ?? seo_title} /> : <></>}
        {image ? <meta property="og:image" content={image.url} /> : <></>}
        {image ? <meta property="og:image:url" content={image.url} /> : <></>}
        {image ? <meta property="og:image:secure_url" content={image.url} /> : <></>}
        {image ? <meta property="og:image:alt" content={image.alt} /> : <></>}
        {image ? <meta property="twitter:card" content={image} /> : <></>}
        {description ? <meta property="og:description" content={description ?? seo_description} /> : <></>}
        {true ? <meta property="og:local" content="en_US" /> : <></>}
        {title
            ? <meta property="og:site_name" content={title ?? seo_title} />
            : <></> }
        <!-- <meta property="og:url" content={} /> -->

        <title>{seo_title ?? 'Anas Ouardini Blog'}</title>
        {seo_description
            ? <meta name="description" content={seo_description ?? description} />
            : <></>}

        <meta name="generator" content={Astro.generator} />

        <!-- JSON+LD -->
        <!-- TODO: image(url), articleBody, author{url: aboutpage} -->
        {
            <script type="application/ld+json">
            {
                "@context": "https://shcema.org",
                "@type": type === "article" ? 'BlogPosting' : type,
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id":  `/${tools.slugify(seo_title ?? title)}`
                },
                "headline": seo_title ?? title,
                "description": seo_description,
                "author": {
                    "@type": "Person",
                    "name": "Anas Ouardini"
                },
                "datePublished": seo_date ?? date,
                "dateModified": seo_date ?? date,
                "publisher": {
                    "@type": "Person",
                    "name": author ?? "Anas Ouardini",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "/favicon.svg"
                    }
                },
            }
            </script>
        }

        <!-- Google tag (gtag.js) -->
        <script>
            if('localhost' == window.location.hostname){
                console.log('GA has been disabled');
                window['ga-disable-G-H89S5V1C0M'] = true;
            }
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-H89S5V1C0M"></script>
        <script>
            if('localhost' != window.location.hostname){
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-H89S5V1C0M');
            }
        </script>

    </head>
    <body
        class=`min-h-[100vh] flex flex-col justify-between
                bg-dark-1 text-white`
    >
        <style>
            /* scroll bar */
            body::scrollbar,
            .scrollbar::scrollbar {
                width: 6px;
                background-color: #4c99eb;
            }

            body::scrollbar:horizontal,
            .scrollbar::scrollbar:horizontal {
                width: 6px;
                background-color: #4c99eb;
            }

            body::-webkit-scrollbar,
            .scrollbar::-webkit-scrollbar {
                width: 6px;
            }

            body::-webkit-scrollbar:horizontal,
            .scrollbar::-webkit-scrollbar:horizontal {
                width: 6px;
            }

            body::-webkit-scrollbar-thumb,
            .scrollbar::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: #4c99eb;
            }
        </style>
        <header>
            <nav class="flex justify-center py-4 w-[95%] mx-auto max-w-[1400px]">
                <!-- <p class="capitalize bg-orange-500 px-5 py-1 rounded-lg text-black font-bold text-xl">Site Is Under reconstruction...</p> -->
                <ul class="flex gap-4 capitalize">
                    <li style="list-style: none;" class="text-2xl">
                        <a style="color: #4C99EB; text-decoration: none;" href="/">home</a>
                    </li>
                    <li style="list-style: none;" class="text-2xl">
                        <a style="color: #4C99EB; text-decoration: none;" href="/posts">posts</a>
                    </li>
                    <li style="list-style: none;" class="text-2xl">
                        <a
                            target="_blank"
                            style="color: #4C99EB; text-decoration: none;"
                            href="https://anasouardini.online">personal-site</a
                        >
                    </li>
                    <!-- <li><a href="/">privacy policy</a></li>
                    <li><a href="/">author</a></li> -->
                </ul>
            </nav>
        </header>
        <slot>No content is available</slot>
        <script>
            const startDate = 2023;
            const endDate = new Date().getFullYear();
            const footerDate = `${startDate}${
                endDate !== startDate ? '-' + endDate : ''
            }`;
            document.querySelector('#footerDate').textContent = footerDate;
        </script>
        <footer class="py-5 text-center">
            Copyright &copy; — made by Anas Ouardini — <span id="footerDate"></span>
        </footer>
    </body>
</html>